# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
terraform.tfvars.json
.terraform.lock.hcl

# Excluye archivos de plan
*.tfplan

# Maven / Java
target/
*.log
*.class
*.jar
*.war
*.ear

# IDEs
.vscode/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Ignorar la carpeta modules
/modules/